{% extends 'main/base.html' %}
{% load static %}

{% block title %} Новости на сайте {% endblock %}

{% block content %}
 {% for i in objects %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text"><a class="nav-link" href="{% url 'newsitem' i.id %}">подробнее</a></p>
          <p class="card-text"><small class="text-body-secondary">{{ i.date }}</small></p>
        </div>
      </div>
    </div>
  </div>
  
  {% endfor %} 
  
  <nav aria-label="...">
    <ul class="pagination">
      {% if objects.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; первая</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ objects.previous_page_number }}">предыдущая</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo; первая</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">предыдущая</span>
        </li>
      {% endif %}
  
      {% for page in objects.paginator.page_range %}
        {% if page == objects.number %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
  
      {% if objects.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ objects.next_page_number }}">следующая</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ objects.paginator.num_pages }}">последняя &raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">следующая</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link">последняя &raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}  
